.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #E0F7FA;
}

.nav-bar .active {
    background-color: transparent;
    border: 2px solid #54B4D3;
}

.nav-bar p {
    text-decoration: none;
    color: black;
}

.nav-bar ul li{
    list-style: none;
}

.nav-bar ul li .a-tag{
    color: #332D2D;
}

.nav-bar ul .logout{
    color: #332D2D;
}

.nav-bar ul li a:not(.active):hover {
    background-color: #54B4D3;
    color: #FFFFFF;
}
.nav-bar ul .logout:not(.active):hover {
    background-color: #54B4D3;
    color: #FFFFFF;
}

.menu ul {
    display: none;
}

.menu ul.open{
    display: block;
}
.menu li{
    list-style: none;
}

.menu .active {
    background-color: transparent;
    border: 2px solid #54B4D3;
}

.menu li a:not(.active):hover {
    background-color: #54B4D3;
    color: #FFFFFF;
}
.menu .logout:not(.active):hover {
    background-color: #54B4D3;
    color: #FFFFFF;
}