.btn-outline-dark:active, 
.btn-outline-dark:hover, 
.btn-outline-dark.focus, 
.btn-outline-dark.active {
    background-color: #78909C !important;
    border-color: #78909C !important;
    color: #FFFFFF !important;
}

.btn-sec:active, 
.btn-sec:hover, 
.btn-sec.focus, 
.btn-sec.active {
    background-color: #78909C !important;
    border-color: #78909C !important;
    color: #FFFFFF !important;
}

.blog-title {
  color: #795548;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blog-desc {
  display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 430px) {
    .band {
      display: none;
    }
  }