.btn-outline-dark:active, 
.btn-outline-dark:hover, 
.btn-outline-dark.focus, 
.btn-outline-dark.active {
    background-color: #78909C !important;
    border-color: #78909C !important;
    color: #FFFFFF !important;
}

.btn-sec:active, 
.btn-sec:hover, 
.btn-sec.focus, 
.btn-sec.active {
    background-color: #78909C !important;
    border-color: #78909C !important;
    color: #FFFFFF !important;
}

@media screen and (max-width: 430px) {
    .band {
      display: none;
    }
  }